/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.textCenter {
  text-align: center;
}
html,
body {
  height: 100%;
  background: #c7f0db;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2 {
  color: #0051A7;
}
header nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
  background-color: #c7f0db;
  font-size: 3rem;
  border-bottom: 1px solid black;
  padding-top: 2%;
  padding-bottom: 2%;
}
header nav a {
  color: #4d5563;
  font-family: 'Karma', serif;
}
header nav a:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
header .blhead {
  text-align: center;
  width: 100%;
  padding-top: 1.8rem;
  height: 10rem;
}
header .blhead h1 {
  font-family: 'Karma', serif;
  font-size: 8.5rem;
  color: #0051A7;
}
@media (max-width: 500px) {
  header .blhead h1 {
    font-size: 6rem;
  }
}
.parent-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
}
@media (max-width: 500px) {
  .parent-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1rem;
  }
}
.parent-box .box {
  background-color: #c7f0db;
  width: 48%;
  padding: 2%;
  margin-bottom: 2%;
  color: #4d5563;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.8rem;
}
@media (max-width: 500px) {
  .parent-box .box {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
  }
}
@media (max-width: 800px) {
  .parent-box .box {
    font-size: 2.1rem;
  }
}
.parent-box .box .list {
  margin-top: 8%;
}
.parent-box .box li {
  color: #4d5563;
}
h1 {
  font-size: 4.5rem;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  h1 {
    text-align: center;
  }
}
.img {
  width: 100%;
  height: auto;
}
.bottomboxes {
  font-family: 'Nunito Sans', sans-serif;
  color: #4d5563;
  padding: 1%;
}
@media (max-width: 500px) {
  .bottomboxes {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.bottomboxes .box {
  text-align: center;
  background: #c7f0db;
}
h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 2%;
  font-family: 'Karma', serif;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.5rem;
  }
}
.bottombox {
  border: 1px solid rd;
  background-color: #c7f0db;
  width: 100%;
  padding: 1%;
  margin-bottom: 2%;
  color: #4d5563;
  font-family: 'Karma', serif;
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.bottombox .bottomdiv {
  border: 1px solid black;
  width: 50%;
  height: 29rem;
  text-align: center;
  padding-top: 1.2rem;
  background: 'Nunito Sans', sans-serif;
}
.imgbtm {
  width: 30%;
  height: 14rem;
  margin-top: 5%;
  margin-bottom: 2%;
}
@media (max-width: 800px) {
  .stay {
    width: 85%;
    height: 13rem;
  }
}
@media (max-width: 500px) {
  .stay {
    width: 90%;
    height: 20rem;
  }
}
@media (max-width: 800px) {
  .go {
    margin-top: 1rem;
  }
}
@media (max-width: 500px) {
  .go {
    display: none;
  }
}
@media (max-width: 800px) {
  .gotab {
    display: none;
  }
}
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  font-family: 'Karma', serif;
  background-color: #0051A7;
  font-size: 2.9rem;
  width: 50%;
  height: 5rem;
  font-weight: 600;
  border-radius: 4.5rem;
  text-align: center;
  padding-top: 1rem;
  text-decoration: none;
  color: white;
}
.button:hover {
  background: grey;
  color: #0051A7;
}
.signuphead {
  font-family: 'Karma', serif;
  text-align: center;
  color: #4d5563;
  font-size: 3rem;
  margin-bottom: 4rem;
  font-weight: 500;
}
.team {
  font-family: 'Karma', serif;
  font-size: 7rem;
  text-align: center;
  margin-bottom: 5rem;
  color: #0051A7;
  border-bottom: 1px solid black;
}
@media (max-width: 800px) {
  .team {
    font-size: 6rem;
  }
}
.about-parent-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
@media (max-width: 500px) {
  .about-parent-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
.about-parent-box .abox {
  background-color: #c7f0db;
  width: 48%;
  padding: 1%;
  margin-bottom: 2%;
  border-bottom: 1px dashed black;
  color: #4d5563;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3rem;
}
.about-parent-box .abox h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
}
@media (max-width: 800px) {
  .about-parent-box .abox h1 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .about-parent-box .abox {
    text-align: center;
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .about-parent-box .abox {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-bottom: 1px solid black;
    width: 100%;
  }
}
.boxI {
  background-color: #c7f0db;
  width: 48%;
  padding: 2%;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .boxI {
    margin-top: 2%;
    width: 100%;
    padding: 6rem;
  }
}
.imgHead {
  width: 80%;
  height: auto;
}
@media (max-width: 500px) {
  .imgHead {
    width: 100%;
    padding-top: 5rem;
  }
}
footer {
  border-top: 1px solid black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin-top: 8rem;
  color: #0051A7;
}
footer nav {
  font-size: 1.6rem;
  margin-top: 0.4rem;
}
footer nav a {
  color: #4d5563;
}
footer nav a:hover {
  background: #4d5563;
  color: white;
}
.foot {
  font-size: 2rem;
}
footer {
  border-top: 1px solid black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin-top: 8rem;
  color: #0051A7;
}
footer nav {
  font-size: 1.6rem;
  margin-top: 0.4rem;
}
.foot {
  font-size: 2rem;
}
