
.parent-box{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
	
	@media (max-width: 500px) {
		display: flex;
	flex-direction:column;
	align-content: center;
	}



	
 

.box {
	background-color: @main-font;
	
	width: 48%;
	
	padding: 5%;
	margin-bottom: 2%;
   
   
   color:@font-color-main;
	   font-family: @text-font;
	   font-size: 200%;

	   
 
  }	
  
	

}
h1{
	font-size: 200%;
	margin-bottom: 5%;
	
}
	

 

	



	
	  .bottomboxes{
	  
		
		font-family: @text-font;
		color:@font-color-main;
		border-top: 2px solid black;
		padding: 5%;
		
		.box{
		.textCenter;
	  background: @main-font;
			  
	  }
	  }
	  
	   .img {
		
		width:100%;
		height:auto;
	  
	  }
	  h2{
		  margin-bottom: 3%;
	  }
	  footer {
		 .textCenter;
		  padding: 5%;
		 
		  margin:5% 35%;
		  color:@font-color-main;
	  }
      
      .bottombox {
         
        border: 1px solid black;
        background-color: @main-font;
        
        width: 100%;
        
        padding: 5%;
        margin-bottom: 2%;
       
       
       color:@font-color-main;
           font-family: @text-font;
           font-size: 200%;
    
           
     
      }	
      