
.parent-box{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
	
	@media (max-width: 500px) {
		display: flex;
	flex-direction:column;
	align-content: center;
	}



	
 

.box {
	background-color: @main-font;
	
	width: 48%;
	
	padding: 5%;
	margin-bottom: 2%;
   
   
   color:@font-color-main;
	   font-family: @text-font;
	   font-size: 200%;

	   
 
  }	
  
	

}
h1{
	font-size: 200%;
	margin-bottom: 5%;
	
}
	

 

	



	
	  .bottomboxes{
	  
		
		font-family: @text-font;
		color:@font-color-main;
		border-top: 2px solid black;
		padding: 5%;
		
		.box{
		.textCenter;
	  background: @main-font;
			  
	  }
	  }
	  
	   .img {
		
		width:100%;
		height:auto;
	  
	  }
	  h2{
		  margin-bottom: 3%;
	  }
	  footer {
		 .textCenter;
		  padding: 5%;
		 
		  margin:5% 35%;
		  color:@font-color-main;
	  }
      
      .bottombox {
         
        border: 1px solid rd;
        background-color: @main-font;
        
        width: 100%;
        
        padding: 1%;
        margin-bottom: 2%;
       
       
       color:@font-color-main;
           font-family: @text-font;
           font-size: 200%;
    
           
     
      }	
      

      
.about-parent-box{
	display:flex;
	flex-wrap: wrap;
    justify-content:space-between;
   
	
	@media (max-width: 500px) {
		display: flex;
	flex-direction:column;
    align-content: center;
    
	}



	
 

.box {
	background-color: @main-font;
	
	width: 48%;
	
	padding: 2%;
	margin-bottom: 2%;
   
   
   color:@font-color-main;
	   font-family: @text-font;
       font-size: 200%;
      

	   
 
  }	
  
	




.boxI {
	background-color: @main-font;
	
	width: 48%;
	
	padding: 2%;
	margin-bottom: 2%;
   
   
   color:@font-color-main;
	   font-family: @text-font;
       font-size: 200%;
       

	   
 
  }	



}
.imgHead {
		
    width:80%;
    height:auto;

  
  }
  

  .bottombox{
     
      display: flex;
      flex-wrap: wrap;
     
 
  
  .bottomdiv{ 
    
      border: 1px solid black;
      width: 50%;
      height: 17rem;
      text-align:center;
      padding-top: 1%;
      background: @text-font;
  

  
    }
  
    }

   .imgbtm {
      width:30%;
      height: 8rem;
       
       margin-top: 5%;

   }

  .stay{

   @media (max-width: 500px) {
    width:80%;
    height:12rem;
    ;
}

  }
    .go{
        @media (max-width: 500px) {
           display: none;
        }
    
        
    }

    .signup{
       display: flex;
       justify-content: center;
       
    }
    .button{
        background-color:#6c7b95; 
        font-size: 1.2rem;
        width: 50%;
        height: 2.5rem;
        font-weight: 600;
        border-radius: 5rem;
     &:hover{
        background:rgba(255, 255, 255, 0.486)  ;
        color: @font-color;

    }
        
    }