
        header{


           
            nav {
                display: flex;
                justify-content: space-around;
                 margin-bottom: 2%;
                
                background-color: @main-font;
                font-size: 3rem;
                border-bottom: 1px solid black;
                padding-top:2%;
                padding-bottom:2%;
                
                
                a{
                    color:@font-color-main;
                    font-family: @f7;
                    
                    // &:hover{
                    //     background:rgba(255, 255, 255, 0.486) ;
                    //     color: black;
        
                    // }

                    &:hover {
                        transform: scale(1.1);
                    }
                    

                }
        
                @media @phone {
                    display: flex;
                flex-direction:column;
                 align-items: center;
                 
                
                }
                
              }
        
              .blhead{
                text-align: center;
                width:100%;
                padding-top: 1.8rem;
                height: 10rem;
               
                
                
                h1{
                    font-family: @f7;
                   font-size: 8.5rem; 
                   color:@font-color;
                   @media @phone{
                   font-size:6rem;
                   }
                }
            }
        
        }