
        header{


            nav {
                display: flex;
                .space;
                
                
                margin-bottom: 8%;
                padding: 2%;
                background-color: @main-font;
                
                font-size: 200%;
                border-bottom: 1px solid black;
                padding: 3% 0;
                
                
                a{
                    color:@font-color;
                    
                    &:hover{
                        background:white ;
                        color: black;
        
                    }
                }
        
                @media (max-width: 500px) {
                    display: flex;
                flex-direction:column;
                    .textCenter;
                }
                
              }
        
        
        
        }