//variables

@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';

@fun-font:'Love Ya Like A Sister', cursive;
@top-font: 'Prata', serif;
@text-font: 'Nunito Sans', sans-serif; //h2
@nav-font: 'Permanent Marker', cursive;
@main-font:	#c7f0db; // background color
@font-color:#0051A7; //nav and headers color 
@font-color-main:#4d5563; // p color
@font-orange:#D55534;


@f7: 'Karma', serif; //Nav and Headers font