//variables

@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';


@text-font: 'Nunito Sans', sans-serif;
@nav-font: 'Permanent Marker', cursive;
@main-font: #c7f0db; // background
@font-color:#464159; //nav and headers 
@font-color-main:#6c7b95; // p

